use master
go

if exists(select * from sys.databases where name='bbsdb')
drop database bbsdb
go


create database bbsdb
go

use bbsdb
go


--创建个人信息表
create table userIinfo
(
	id int primary key identity(1001,1),--用户ID号
	name varchar(20) not null,--用户姓名
	pwd varchar(20) not null,--用户密码
	sex int check(sex=1 or sex=0) not null,
	signs varchar(200),--用户签名
	flag int ,--用户类别
	email varchar(50) ,--用户e-mail地址
	qq varchar(50) ,--用户qq
	reg_time datetime default(getdate()),--用户注册时间
	login_time datetime ,--用户最后一次登录时间
	visitcount int ,--用户访问系统次数
	psotcount int ,--用户发帖数
	relycount int, --用户回帖数
	logo varchar(100) not null,
	valid int default(1) --判断是否有效
)
insert into userIinfo values('admin','123',1,'我是管理员',1,'afdgd@qq.com','000',default,'2017-10-1',0,0,0,'1.jpg',1)
insert into userIinfo values('张三','123456',1,'哥只是传说',0,'asdf456@qq.com','1111',default,'2017-10-1',0,0,0,'2.jpg',1)
insert into userIinfo values('李四','123456',0,'不要迷恋哥',0,'dsgsag@qq.com','2222',default,'2017-10-1',0,0,0,'3.jpg',1)

--创建板块信息表
create table boardInfo
(
	boardid int primary key identity(600,1),--板块编号
	boardname varchar(50) not null,--板块名称
	boarddescription varchar(200) not null,--板块描述
	valid int default(1) --判断是否有效
)
insert into boardInfo values('游戏','无',1)
insert into boardInfo values('娱乐','无',1)
insert into boardInfo values('生活','无',1)

--创建发帖表
create table postInfo
(
	postid int primary key identity(1000,1),--帖子编号
	boardid int references boardInfo(boardid) not null,--所属板块的编号
	posttitle varchar(600) not null,--帖子标题
	postcontent varchar(8000) not null,--帖子内容
	posttime datetime default(getdate()),--发帖时间
	useid int references userIinfo(id) not null,--发帖作者
	postclick int ,--单机率
	replycount int ,--回帖数
	replytime datetime,--最后一次回帖时间
	replyname varchar(20), --最后一次回帖的作者
	valid int default(1) --判断是否有效
)
insert into postInfo values(600,'如何看待《英雄联盟》主播大司马因肌肉金轮的视频再度爆火？','击剑瘾发作最严重的一次，躺在床上，
拼命念大悲咒，难受的一直抓自己眼睛，以为刷QQ群没事，看到更新了金轮的视频，眼睛越来越大都要炸开了一样，拼命扇自己眼睛，
越扇越用力，扇到自己眼泪流出来，真的不知道该怎么办，我真的想金轮想得要发疯了。我躺在床上会想金轮，
我洗澡会想金轮，我出门会想金轮，我走路会想金轮，我坐车会想金轮，我工作会想金轮，
我玩手机会想金轮，我盯着群里的金轮看,我每时每刻眼睛都直直地盯着金轮看，
像一台雷达一样扫视群里金轮发的每一条消息，我真的觉得自己像中邪了一样，
我对金轮的念想似乎都是病态的了，我好孤独啊!真的好孤独啊!这世界上那么多人为什么没有一个是像韩金轮这样有趣的人。
你知道吗?每到深夜，我的眼睛滚烫滚烫，我发病了我要疯狂看金轮，我要狠狠看金轮，我的眼睛受不了了，
金轮，我的金轮',GETDATE(),1001,0,0,null,null,1)

insert into postInfo values(600,'《CSGO》6 月 4 日更新是否意味着其成为付费游戏？','让我说实话？
之前一直是官匹玩家，看到这条消息可太舒服了。
终于不用为看到一级小号发愁了。
至少开局不用胆战心惊的，挺好。
至于100块多吗？不多。
但是能刷下很大部分跟风过来开挂玩的玩家。
真想玩cs的，都会认认真真的买cs玩。
话说，这都不错了，我们最开始玩cs的玩家那个不是花48块买的？现在不买还能玩玩非优先局，以前不买非优先都玩不了。
本来免费就让我有了吃屎的感觉，这次v社操作我觉得挺舒服的。
就这样。
刚刚获得的5年老兵硬币镇',GETDATE(),1003,0,0,null,null,1)
insert into postInfo values(600,'如何评价《原神》七月即将上线的稻妻？','
降维打击，素质极差
有一说一，我要是国内的二次元手游同行，我就该拿菜刀上门砍人了。
别家暑假都更新什么，几个泳装皮肤立绘，几个新角色，来段欢快的小活动剧情，有心的加两个新玩法，为此配点语音，差不多也就完事了。
你TM更新新地图几个意思？一个新国家直接丢出来，连肝帝党也得连续两天左右才能整完吧夏活黄金期一般来说才20天左右，你这地图放普通人身上想腻也得5—10天还是那种每天三五个小时以上的强度。直接霸占了近乎一半夏活黄金期，简直就是罪大恶极。除非你不玩，否则但凡玩的，基本上不可能不被新地图吸引。这弔游戏长草体验差是真，但是探索期体验极佳也是真。
再者，地图免费，对，别家整个新皮肤还得花钱吧。钱不是大风刮来的，花钱的事你得纠结一下吧，免费的玩意不蹭白不蹭啊（乐死，白嫖yyds），一个纠结，一个直接上手，你这不是搞人家心态嘛？
虽然原神也有夏活，但是在六月就不说了，毕竟错峰了也算放过了。（放屁，你先开夏活榨干人家钱包还怎么给同行氪金，md玩脏的是吧）
不是说2D游戏不好，其中有佳作，但是架不住TM来个这种怪物吧，你一个大3D在一年里为数不多的黄金期来欺负人家真的好吗？不讲武德小心马老师警告。
说真的，除非特别喜欢某游戏，否则全程四国配音外加高质量3D新地图不比2D香？品控方面我只能说大可放心，你看看米哈游那狗屎ch，FW运营，这公司还没被作死就足以见得他家的制作水平如何了。
当然，不排除这个沙口公司自己的公关，运营把自己作死。虽然说新的招聘上面那个NEW说明不了什么，但是考虑到隔壁最近的操作跟米哈游这个憨批最近两年的风评，跟NEW也没什么区别，可能请的公关真的是孙笑川吧。（孙笑川好歹会骂人，抽象。铁弱智公关生怕自己的节奏不够大可乐死我了，建议公关申请国家一级保护动物，现代人身体素质，羊驼脑袋的玩意真不多见了）',GETDATE(),1002,0,0,null,null,1)
insert into postInfo values(600,'在steam上买游戏有什么技巧或者建议？比如低价购买?','
讲方法不讲结论，直接收藏学就完事儿了
牢记一句话：特别喜欢的，特卖上车！只想尝试的，坐等白给！
请问用喜加一的形式达到万元库存是一种什么样的体验？
废话，那肯定爽啊！
方法我只说一次！好兄弟们学到就是赚到!
其实很久之前就想写一篇文章来分享下了，只是每次到家要么懒狗躺尸要么就是被开黑的邀请打断（APEX真的太好玩了！！！）这次YY一关，可算是让我逮着机会动笔了
话不多说，先上图

ID可查，非PS
万元存库确实是货真价实，小伙伴们可以放心大胆的往下看
首先先来说说这个白给政策（0元购）
一、大作0元购的几率太小，除了临时工事件（G胖的仁慈）几乎是不可能的，能领取的游戏基本还是一些比较常规的游戏作品
二、天下苦G胖久矣，不少平台也陆续以0元领游戏的福利来拉拢新用户，所以大家也别怼着一只羊薅，多管齐下才是王道
必备工具：平台账号、什么值得买APP
第一步，首先保证有可用的平台账号，这点过于简单，就不丢传送门了，注册自行度娘即可
第二步，下载一个值得买APP，大家伙儿也不用去找了，链接我丢在下方，直接点击卡片下载就行了


什么值得买
【G胖爆哭】下载什么值得买APP，超多游戏一手资讯，支持一键入库！

下载
下载完毕后来到首页

优惠信息基本每天都在更新，下载APP随时看随时入库还是方便很多的


然后点击游戏去一键入库即可
当然啦，作为一名游戏爱好者，其实对于优质作品还有喜欢的系列还是建议大家支持一下的，绣湖我直接冲了兄弟们，毕竟移植来的小精品游戏已经不多了
PS.平台特惠，开发商本身拿到的分红不变，不用担心用爱发电嗷，加上优惠，冲就完了！


阿这，穷鬼求饶，告辞~
领取的办法我已经告诉大家了，可能会有老哥要亲切的发问了“就这？”
但是实际上，只要时不时逛逛APP，达成万元库存其实也挺简单的，我大概是从16年10月份开始接触steam的，用了值得买APP将近一年半的时间，达成了破万元的成就，后面就慢慢懈怠了，毕竟游戏太多也玩不过来
不过，还是那句话：我可以不玩，但我不能没有！让我坚持到了现在，有了将近两万的库存

值得买APP有个订阅推送功能，有了新的优惠信息会第一时间推送，也不用守着，对于记性不好的懒狗来说（比如我）还是挺友好的
兄弟们不用往上划了，链接我再放一次，点击下面的卡片就可以领取了


什么值得买
【G胖爆哭】下载什么值得买APP，超多游戏一手资讯，支持一键入库！

下载

离谱！我今天才发现，就Uplay这个下载速度和连接状态，竟然也能有个专栏板块，真有你的啊阿育！

除了游戏，值得买APP里的低价好物信息覆盖面也是超级广，反正我时不时的会去食品板块和日用品板块领券，买买卫生纸、可乐啥的，一次进货，俩月不愁，优惠券还是香啊！


———————————分割线————————————
绝了兄弟们，竟然还有这种懒狗，我真的服了

大家可以给我多多点赞收藏，小老弟保持更新搬搬优惠信息也不是不行，如果有需要，游戏资讯和优惠信息我也会一一更新的。
————————————————分割线————————————————
钢筋退散嗷，不要揪着说不如小黑盒不如杉果不如balabala了
这个是信息汇总平台，你们说的平台，只要有优惠信息，值得买也会有收录的~
并且除了游戏，还有大量其他商品优惠信息，对于学生党来说香的不得了了',GETDATE(),1004,0,0,null,null,1)


insert into postInfo values(600,'《摩尔庄园》的手游已经正式公测了，你怎么看?','
骗钱打包走路。毁童年
开服第一刻就进去了，就这？？？不是，这3d，是多少年前的水平了？那些内测pv什么的是今天才看刷b站看到的，然后我忍住告诉自己游戏应该不会差，结果。。。。哈哈。。跟视频一摸一样的劣质

我醉了，怎么能这么丑？页面设计也太丑了，让我想起了腾讯那个什么小乡生活？忘记叫啥了，前不久出的，也是生活性手机。摩尔跟那个基本一摸一样。滕讯建模差就算了，大家都知道，他就是卷快钱的。我还以为能回归童年的。。。
还有拉姆，建模边缘都不是平滑的，一块一块凸起的边缘？？？不是？？做不好3d别做啊，2d省钱又省事。审美又不用钱，小时候页游的审美多好啊，这什么玩意，技术还能倒退？页游当时开发的时候也没有很多钱吧。
我还以为跟页游的摩尔一样是有剧情的，结果还是种田游戏，种田这做的还没以前的摩尔种菜手游好了。你建模差，我忍了，玩了10分钟，玩不下去了，太无聊了。。。真的。。我怎么说也玩过不少手游了，游戏质量好不好很快就能分辨出。好的游戏，他第一眼就能吸引你。新手教程无聊可以理解，但整个游戏的质量是可以直接展示在你面前的。
现在说实话，有点悲伤。。。童年说到底还是回不来了了，不管是摩尔庄园还是赛尔号。我很喜欢乐乐侠。期待洛克王国的手游。',GETDATE(),1006,0,0,null,null,1)



insert into postInfo values(601,'你所知道的韩国娱乐圈的瓜有哪些?','
本人不混韩娱，但我爸认识权志龙。
15年认识的，当时是一个中国投资商组的饭局，专门去了韩国一趟，我爸说权志龙本人很逗，就是那种即使不会很多中文但是组织语言都很神奇，不像是咋们平常说的这种话。
他会背中文的那种冷笑话（不敢置信吧？但是那会真的跟我爸讲了一个，关于鼠的（因为我爸属 ），还拿了纸巾变了魔术
虽然一直不了解权志龙是个什么人，但因为我学设计的，本来去年要某企业实习的，结果搁置到现在（家里不放心我单独出去了，外面太危险），知道了老佛爷一直很欣赏的亚洲时尚王原来就是GD权志龙，（是的之前我只知道GD.....）就知道他很牛，跟老爸讲的时候他也才跟我说自己和权志龙认识。
看很多人爆料的爱说权志龙很高冷，捉摸不透，blabla什么的，但是我爸说他起码看着很积极，（也可能因为我爸是金主？
萍水相逢，一面之缘。
——————————
olaolaola
补充一个新瓜吧，我爸也和前几天出事的那个青3前C的爸爸认识，只认识，不联系！只是请过我们吃饭。还有电话的那种，他爸叫yu ping，就是黑社会。他妈妈是个歌厅原来唱歌的女生，yjt和他爸不像，他妈也不是他爸的原配，他爸有好几个老p....

——————
姐妹们你们千万别扒我，我要是被我爸知道我说了我就完蛋了 做人留一线他日好相见，这样也方便我以后跟你们说一些其他料啊哈哈哈哈哈
韩娱里遇到我爸认识的我就说，内娱知名点的有资源捧的也可以问，不知道也回答啦，不怎么看知乎，大家dd我就能看到，没发没回就是不知道‼️
———————
有人问EXO，事实上，我爸只和前中国成员有过交集，最熟悉的是w。
W的名字因为很有名，所以我爸之前就跟我说过很多W的事。
当时old 炮 拍之前W的片酬一直都很高，那会大概就两个亿了，他妈妈也不是什么好相处的人，至今也不知道他爸是谁。其实W在演艺圈靠的最多的是他自己的老板，和他家境没有关系，他的老板有些人脉（要不然怎么可能片酬这么贵别人也会让他去演戏呢）也找我爸合作过，但是因为我当时喜欢内娱的一个帅哥和W家撕起来了我就不太喜欢W，(别骂了别骂了现在也不喜欢那个帅哥了但是那个时候是真的幼稚），我爸就没接。
W的妈妈真的城府不一般。现在也在找money和 很多的男人。
当初他和qnzw的事情两个人纯粹炒作，女方家境很好，是送进大学的。她爸爸出了钱，W老板也同意了，记者就是在那里等着的，两个人各取所需，没有谁对不起谁。戏很多的。
—————————
HYBE的方时赫老板的堂哥之前和我爸爸作为合作也见过面（他真的很神奇，什么都干一点）但最后没有合作，我爸爸去搞芯片了。
还送了我弟一套游戏手柄啊哈哈哈哈哈哈，但是我弟不打（。zzzzz
因为BTS在国际的知名度也很高，听说已经是韩国的一张形象牌了，所以在聊天的时候他有提到过BTS，旁边翻译的话来说就是：“或许您知道BTS吗？BTS是我表弟公司的艺人，也是当今国际比较知名的歌手，有时间的话您可以带着一家人去现场看一看他们的演唱会，他们非常棒，我想您女儿会很喜欢的，到时候通知我，我再给您安排。”
我觉得通过这种态度，能感觉的到他们地位还是很高的，我说过我不了解的也不会随意评判，但是公司和整个韩国应该也是对他们挺任重道远的感觉，压力很大，但是确实是国民偶像，影响力很大。

我后来私下还去搜BTS的歌听，感觉好多旋律都很耳熟，虽然现在人还分不清，但看他们早起自己写的歌词倒是又中二又青春的感觉。

姐妹们，我韩娱真的了解的不是很多，大家可以多问问我内娱好吗
————————
大家真的 别老是颜狗了 娱乐圈很多女明星都不怎么样 ym和大宝贝这两个人真的。。。能玩到一起也是不意外，真的人品都很烂，我爸的观点更恶心一点的是大宝贝，她当初就是做三，陪酒女，也别装什么不知道，背后的资本可都知道的事，能走到现在没少因为她“老公”，已经翻脸不认人了，整容是真的，网上的那些年少的照片流传出来的也都是她已经动过的，她弟弟也很。。。。你们如果找下她们的合照就知道了，绝对动过，人品一样烂。她和ym一个整容的套路。
—————————
看到有人跟我发私信说，那哪些内娱小生值得追，我就说一个我爸唯一夸过的吧。
内娱C位的开山鼻祖，大家都知道吧？就不打全称了。
他爸爸和叔叔和我爸爸是朋友，他爸爸也长的很高，很瘦，身材和C差不多。叔叔就矮了一点，大概175不到的样子，家里确实是从商的，而且很厉害，是有个律师事务所的（大概就是法律这方面），住在深圳的富人区，C能火起来也是有资本支持的，而且很厉害的哦。你们能想得到的钱和权他都有。但这已经是必备条件了，有资本没什么错，现在这已经是娱乐圈的通关密码了，没点后台你真的在这个圈子里混不了。
按照我爸的来说C很敬业，为人也很谦虚，是他觉得娱乐圈里人品见到过最好的了，因为知根知底，能让我爸这么夸的人，除了z润发老师，也只有C了。
我觉得我的爆料好新奇，和其他的都不一样啊哈哈哈哈，这倒也确实，我对恋情都不了解，但是这种私人的事情倒是知道很多啊哈哈哈哈哈哈。不愧是我（爸）。
再说一遍哈，多问内娱，选秀届271节目的这些参赛选手，问点有名气的，我估计都知道。去过青1总决赛现场，还是VIP席哦。
因为怕暴露个人信息所以之后再发图，或者你们想看我现场拍的照片倒也是可以的⭕️
——————
青你的现场图直接就发啦～其他的设计隐私就不发喽
都是我自己拍的 因为是vip 所以离npc特别近 下面的粉丝就是站在坑里面 旁边都是站姐和漂亮姐姐们 绝了
‼️‼️‼️大家看到盗我图的一定要说！我去维权！






———————
xz在圈内是有点尴尬的地位，就是用他可以讨好他的粉丝群体但是又可能得罪其他群体。就知道这个。
wyb，和mmq真的谈过，鼻子是照着yy整的。
这俩人的关系我就不知道啦～
————————
和lh一块去夜店的就是hxx，还叫了其他的美女哦。好像凌晨五点才回家。也是那时候被拍到的。
说实话，知道的时候我还惊讶来着，但确实，男idol都一个样。
——————————
久违的更新？hhhhh
这段时间一直在忙自己的生活，一打开手机有这么多消息属实受宠若惊。
看到很多人会问我这个人怎么样那个人怎么样，怎么说呢，人都是有两面性的，而且他们和我见面肯定都知道我是什么身份 肯定也会表现的好点 所以就不可能说态度傲慢（当然 傲慢的肯定也有 那种这辈子都不会再见面）
我真的还蛮喜欢业务能力强的人，所以要说努力敬业的话我觉得是BTS（真的没有因为见过而有私心啊！）之前参观公司的时候就听说了队长RM（好像是叫这个名）和另外一个成员在公司工作，而且是节假日，我就觉得很牛，那个时候他们已经火了吗，我也就没打扰，等逛了一圈回来的时候还吃了饭（外卖）起码三个小时，居然还在里面，佩服。
但是没见到他真人，他们现在都这么厉害了，真的好可惜啊....


hxx和cxk其实关系一般，他们虽然也一块出去玩了，还有dsc，但是其实反而dsc和cxk能更聊到一块，内地人，hxx的汉语还是不是很好，很多话也不在一个频道，他和dsc是队友可以互相包容，和cxk可能就有点尴尬啊哈哈哈哈
还有问谈不谈恋爱的，男爱豆都一个样。
—————————————
bwj真的喜欢过zzt，我知道的时候也震惊了....
—————————————
神仙姐姐一直都是有金主的，现在火了之后不想风评和那个金主搭上边，就，感觉人是挺好看的，但是也没大家想的出淤泥而不染....
—————————————
问青2的朋友们 去年本来邀请了我去现场看总决赛的 但我爸给我拒绝了 
目前 ️料给各位 知道了再说
还有xz、wyb和gj、zzh这种搭配的 怎么说呢 我不喜欢他们（单纯的路人）但我妈妈很喜欢（这两部剧她都喜欢 人也喜欢的那种）
只能肯定的就是没有谈啦 一般敢这么光明正大炒作的都不可能是真的 不然太容易被人抓住把柄了
————————————
那种说qnzw家境不好的人 真的 别傻了好吗 她家不说什么福布斯榜 起码是中上....评论里有北京人吗 在北京朝阳住大别墅什么水平可以替我说一说 不穷还很富 只是你们相信她编造的而已
———————————
为什么会有人觉得我是wwy，还有yan啊哈哈哈哈，我和她们连认识都不认识，sorry啊还真不是你们认识的人
那些说我瞎扯的自己有干什么娱乐圈相关工作吗？贴出图片来看看吧 没有就闭嘴 看到一个骂一个 谁都是第一次做人 凭什么让你随便踩
关于sdsnt 我不喜欢小弟弟 就只知道一个料 变成七个人是因为yhx 但是他人还是不错的 皇就皇吧
还有问我我爸怎么天天叭叭的 其实我最开始只想说一个 就是权志龙的 但是老有人问我 我知道的就说了 还有质疑我怎么就这么点料的 因为我的都是真的料啊....你天天知道料啊？我知道了下来这里说 不然我干嘛写 写假的还费我时间 还是那句话 我承诺过我说的都是真的料 你要是不信就感觉走人 别还在这等着我给你擦屁股 真的没必要 也别给我找腻歪 你要有能力接触他们就不会追星了 我夸过的我都担保人还不错 说不好的也是真的不好 大家都是社会人士了 好不好自己也能分辨吧？人虽然是两面性 但出轨、做三、陪酒、立牌坊....这种知道的肯定也会说吧？真的没必要一直揪着我说的不放 你沉溺在幻境也跟我没关系 再来的直接开麦'
,GETDATE(),1003,0,0,null,null,1)
insert into postInfo values(601,'博君一肖是不是真的啊？','
别的我都不想知道
我就想知道
你们在韩国读书 / 闺蜜在韩国读书
你当站姐 / 你是私生 / 你在三大上班小职员
怎么就这么巧你 / 你闺蜜 / 你同学就认识那么多那么多站姐私生Cody等等搞料大佬? ? ? 
关键是，这些人手里攒着这些料不跟公司谈价钱不跟D社谈价钱跟你在这blabla，我寻思着她不会赚钱你不会吗匿名在知乎说啥呀卖料去啊傻孩子有钱都不会赚，给我急得呀我把D社联系方式给你贴出来，快联系啊

真的是D社电话，我现截的图


还有你们的私生站姐cody闺蜜啊啥的，单饭一个团还不行，一出来料全是防弹茶蛋粉墨红贝贝twice一堆的料，那真是有钱的不行了吧我寻思着跟行程得影分身吧我的天
我估摸着就我知道的买料的价格你们写的这些料真的还挺值钱的啊，花那些钱买的料干嘛匿名啊堂堂正正写出来啊，怎么，还怕自己买的是假料吗 ? 我买个我儿跟别人要合作的料都要点钱钱，你们这么详细的料真的不便宜啊！卖啊傻孩子啊！给我急得啊！
再看看你们下面写的这些料：
某团大哥又是gay又是圈外女友又是圈内约炮，女朋友又是A又是B又是C，怎么打歌撞一块儿的时候不会尴尬吗 ?她们会不会一起凑桌打麻将啊?
某团人气男又是地下恋没分手又是天天泡吧又是约炮小王子，怎么你是跟他在酒吧共饮一杯酒了是吗 ? 还是去开房是你接的身份证啊 ?
某女团谁谁谁又是私生活挺好又是死皮赖脸追谁谁谁又是约炮小女王，怎么人家聊骚的短信是用你的手机发的吗 ? 还是说聊骚用的土味情话是找你请教的 ?
就说回答里点名的，防弹忙内又是跟红贝贝忙内谈恋爱，又是跟兔瓦斯忙内谈恋爱，又是跟粉墨忙内谈恋爱，又是跟小女友忙内谈恋爱，又是跟队友cp是真的好多年，又是直男拒绝别人没谈恋爱……我? ? ? ? ? ? 你们怎么回事 ? 忙内就必须跟忙内谈恋爱 ? 我怀疑你们在搞歧视……我儿忙着世巡的同时还要兼顾这么多女朋友，而且还抽时间举铁，这么辛苦你说我这个当妈的还能因为他谈恋爱骂他吗我的天我能舍得? ?(田果：我太难了……)
朴灿烈日本去约炮，女朋友又是中国人，女朋友又是日本人，又跟吴世勋是真的，又跟边伯贤是真的，又跟Joy是真的，又金屋藏娇圈外女友好多年……我? ? ? ? ? ? 你们怎么回事，对对口风行不行? ? ?我估摸着EXO也那么忙你们编料，啊不是，你们的闺蜜啊同学啥的当站姐也好私生也罢，确认一下自己跟的是同一个朴灿烈吗 ? 震惊！李秀满竟然培养了七八个一模一样的朴灿烈！！！(灿烈：我也太难了……)
我细细数来，防弹七个人现任女朋友加起来有差不多二十几个(哦，还有男朋友)，茶蛋现任女朋友加起来也是接近三十(哦，也有男朋友)，兔瓦斯现任男朋友加起来十几个(没有女朋友)，红贝贝现任男朋友加起来也是十多个(好像没有女朋友)，甚至还高度重合，ok
我寻思着你们的闺蜜啊闺蜜的闺蜜啊跟你们对料的时候能不能通通气，能不能对对口风?
料要是这么好搞
谁还给D社啥的饭吃啊呜呜呜呜呜呜呜实在不行你们把料卖给我吧我去整个B社
Be Daydreamer，你们觉得行不行
有钱姐妹大家一起赚行不行！！
一起致富啊！！！
跟谁过不去都别跟钱过不去啊！！！



匿名写一些含糊不清的东西，nh人气男团 / 就你知道那个solo女星 / 某顶流团这样的开头
后面写些什么料呢，里面那位你们知道的 / 那个人气小王子 / 那个小公主
然后呢? ? ? 可没有看起来那么清纯 / 平时不安分很喜欢泡吧 / 早就有谈了很久的女朋友
中间再插几条墙倒众人推式的料：YG家的艺人可是乱的很呢，但我也不好明说 / 那个大家都知道的小公主是真的有招人喜欢的本事呢后面有的是人在捧这样的(不管是YG也好 雪莉也好，泫雅也罢那都是墙倒众人推的现状，能映射他们的料大家下意识都会觉得：啊~果然呀)
都匿名了你怎么就不敢实名制爆料呢，支支吾吾的下面还得猜着看料，知乎看料的孩子：我太难了……
然后对于那些看料还会信的孩子：
迷迷糊糊含糊不清的话你为什么就会信呢 ?
因为你平时不就被乱七八糟的舆论引导了吗 ? 因为你自己不就倾向于那样猜测吗 ? 
下面评论里：问问防弹 / 想问问茶蛋拜托了 /问问红贝贝 / 这里想问问兔瓦斯
得到好的回答，你会拍拍胸口，哈，我就知道ta就很乖嘛，得到不好的回答，呵呵呵匿名说你x呢有没有实锤? 你们扪心自问，你问出那个问题的时候心里难道没有自己的答案吗? 有必要从一个只能匿名的人那里得到什么吗 ? 他说的和你想的一样你就宽心，不一样又要心烦又要内心反驳，何必呢?
到底在想什么啊！觉得在这里能看到什么料?
噫！码！！穷信恰咯！！！！阿西……



如果你们所谓的黑料就是恋爱料的话
我的态度是：谈恋爱没关系，只要不是新团上升期谈恋爱给我实锤爆出来都fine，出道五年左右谈恋爱我就都能接受，但是如果组合或者个人持续上升或者一直卖男友人设的话我不接受，一群热血方刚正值青春的男生不谈恋爱我觉得才是奇了怪了，但是好好掩护，别在不合适的时间爆出来伤粉丝的心就好
出道时间短还在上升就给我忍着，负点责任有点事业心别谈恋爱搞别的乱七八糟的
出道很久了也很稳的话，可以谈恋爱，可以跟自己喜欢的人在一起，但小心一点尽量别实锤爆出来
时间久一些，粉丝自然好接受，你不谈她会催着你谈
还有那些匿名的答主，你可以在这个问题下面肆意瞎写，负责任也是你自己负责任，写东西对得起自己的良心，别有了匿名就什么都乱说，含糊不清拉踩别人又暗捧自家或者为黑而黑真的没有意义
因为韩国的政圈+财阀圈，韩娱圈确确实实是不干净的，没有任何一个团能够说是出淤泥而不染的，多多少少都会接触到阴暗的不干不净的东西，所以这个圈子的黑料肯定是有且不少的，不管是压力本来就大的爱豆本身，还是围绕在其身边的私生站姐等等，甚至于公司也好等等背后的财阀力量。
但是这也不是你们匿名憨写的托辞，在我目光所能及的部分，他是明朗的温柔的像耀眼的星辰一样存在着，带给我的是正面的积极的，对于我来说，就足够了
至于拉踩的，堂堂正正拼成绩吧







害！因为评论我最后来补一点
我从来没有否认过私生站姐手里揣着大料这件事，甚至我估摸着说不准比公司知道的还多的多，但是首先确实私生圈子不大，但是私生卖料本来很多时候就是半真半假，而且料也就在他们圈子流通，不是会拿着到处说的，毕竟人家圈子追求的东西我们正常人也不太懂(这里我的立场一直都一样：我真的很恶心私生的存在)
其次是站姐，长期真情实感跟着的站姐手里肯定有料，甚至于漂亮有钱又一直紧跟着维护喜欢的站姐都有可能跟爱豆本人谈过恋爱，但是，站姐有料是绝对不会拿出来说的，人家是真的会维护自己的孩子，除非是极致失望的料造成脱粉回踩，但我见过不少脱粉回踩的大站姐也是点到为止
最后是cody方面，韩团大部分在美容室化妆之后上班，部分团大火有钱会有自己的cody，大型美容室就几家，主要是按演员爱豆会有主要去的那几家，cody说的料，可以听听私下性格之类，还有本人长相啊啥的，最多聚在一起化妆小细节品一品对内关系，再没更多了，有自己cody的那种合作关系，也不会是把什么约炮恋爱等等这种事拿出来跟同学朋友说的，包括美容室的，人家不吃饭? 社会生活啊孩子们
这个回答下有几个匿名答主吧，语气可可爱爱，说料也比较小心谨慎，也不是全都不可信，但是大家看的时候用点脑子看呀
最后
入股B社的事情我们再议哈哈哈
走了



哈哈哈哈哈哈我就一定要写出来
哈哈哈哈哈哈哈哈哈我在一个总结里面看到有个料说小其前女友是DJ哈哈哈哈哈哈哈哈我的笑点真的好诡异啊(没有攻击这个料或者爆料人的意思)但是哈哈哈哈哈哈哈哈哈小其快起来去蹦迪啊哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈对不起哈哈哈哈哈哈哈哈哈走了



写的不怎么样也是我一个字一个字敲的
不接受搬运哦(´-ω-`)',GETDATE(),1007,0,0,null,null,1)
insert into postInfo values(601,'如何看待肖战和杨紫在一起？','造谣一张嘴？
给题主科普一下什么叫造谣诽谤。
网络诽谤罪，是指在客观方面表现为故意捏造并散布虚构的事实，足以贬损他人人格，破坏他人名誉，情节严重的行为，并且侵犯的客体是他人的人格尊严、名誉权，侵犯的对象是自然人。在互联网背景下，网络诽谤事件日益增多，因此网络诽谤罪也因此孕育而生。网络诽谤严重扰乱了正常网络秩序，甚至在一定程度上影响了广大网民的思维习惯。2013年9月9日，最高人民法院、最高检察院明确网络诽谤入罪标准，即谣言被转发超500次可判刑，明知诽谤仍提供帮助以共同犯罪论处。

杨紫多次在多平台强调单身事实。

杨紫和肖战只是合作过一部戏的同事，或许也算是朋友。',GETDATE(),1005,0,0,null,null,1)
insert into postInfo values(601,'同时粉上易烊千玺和王一博是一种什么感觉？','
看回答有很多说他俩很像的人，忍不住进来叨几句。
之前也以为一博和四字弟弟挺像的，于是抱着好奇甚至感兴趣的心态，去看了下他的一些节目和视频。
嗯，只能说两个人只是表面上看着很像而已吧。但两人的精神世界与气质，以及某些价值观，真的很不一样。
某些综艺里，感觉一博其实还是挺爱表现的，就感觉其实骨子里是有点急的，有些浮。也能理解，毕竟他也出道蛮久了，前面曝光和流量没有现如今多，好不容易等来了高光时刻，当然要抓住每一个机会。但他只是尽量表现沉稳，给我表面看似风平浪静，内里实则暗潮涌动不甘就此而已的感觉。总的来说，我觉得他功利心更强。
四字弟弟给人感觉就好像任何舞台任何场合都基本一个样，（除了某些意外藏不住的小瞬间以外哈哈）。其实除非非必要被cue到，他好像一直都不可能是那个主动站出去表现自己的人。不站出去刚好又不是因为他没实力，只是不想出去引人注目而已。而且他给人的感觉更多就是真的踏实，沉稳，有力量。“斯为泰山而不骄，汝为流水而不躁”是我对他最大的感受。
两个人没必要说谁像谁，在舞台和镜头前尽量做真实的自己，不为迎合，去自成一派，这个才是最有魅力的地方。
最后都祝两位努力的人能在各自的花路上越走越好，越走越远呀。
以上个人观点，欢迎理性讨论。',GETDATE(),1002,0,0,null,null,1)
insert into postInfo values(601,'哪些颇有名气的人怼过谢娜？','
【小知榜单系列】
小知统计了回答中出现最多的人呢，一起来看看有哪些吧：
1. 张杰 29 票， 共计 24454 赞
by 
@笔耕素知
这是一种另类秀恩爱，还是张杰在不经意中说出了自己内心真实的想法，仁者见仁智者见智吧。 【点击进入原回答】
2. 小s 15 票， 共计 64796 赞
by 
@小黑马驾驾驾
汪玲露怼谢娜长得不好看，小S立马补刀。 【点击进入原回答】
3. 维嘉 13 票， 共计 18375 赞
by 匿名用户 维嘉：不，你已经结婚了，所以你现在不是坡姐，是坡妇。 【点击进入原回答】
4. 黄磊 13 票， 共计 32974 赞
by 
@怪兽
黄磊啊 上向往的生活 黄磊说她人生很单薄（好像是这个词）我觉得黄磊说的很委婉了 其实直接说她没脑子还自以为是就可以了 【点击进入原回答】
5. 刘嘉玲 12 票， 共计 22601 赞
by 
@陌上小公子
刘嘉玲就说我每天很忙的，不像你，这么闲。 【点击进入原回答】
6. 刘德华 12 票， 共计 38149 赞
by 
@kxxeei
应该是很早之前了，谢娜跟何老师维嘉出外景去采访刘德华，最后快结束了，是嘉哥还是何老师问了一下说，我们来香港，有哪里可以去玩一下的吗？ 【点击进入原回答】
7. 蔡康永 10 票， 共计 61912 赞
by 
@Sofia酱
xn被蔡康永怼这点很爽，但是她的狗甩水真的吓到我了，引起强烈不适 【点击进入原回答】
8. 成龙 10 票， 共计 22768 赞
by 
@周一多
成龙大哥吧，不只一次两次的说她是个疯子，在快本上说的，我短时间也找不到，不过找了个对xn不耐烦的视频 [图片] 【点击进入原回答】
9. 章子怡 9 票， 共计 35444 赞
by 
@患者
那必然是 妻子的旅行里，章子怡回怼她没有礼貌！ 【点击进入原回答】
10. 康辉 9 票， 共计 18067 赞
by 
@徘徊在欧洲的幽灵
看完之后真心疼康辉老师，太难为他了 【点击进入原回答】
11. 郭德纲 8 票， 共计 36822 赞
by 
@笔耕素知
怼人这件事怎么少得了郭德纲老师呢，在《我为喜剧狂》这档综艺做评委时，谢娜先“开战”，揶揄郭德纲因为上一届“偶然”得了冠军，所以这一期尤其紧张，特地在房间里换了红袜子，被郭德纲用“怨妇”回击。 【点击进入原回答】
12. 庾澄庆 7 票， 共计 6774 赞
by 匿名用户 谢娜和庾澄庆以前主持过一档央视的节目叫《嗨！2014》，有一次嘉宾请的是朗朗，那一期有一个环节是朗朗介绍自己出差带的箱子里都装了什么，朗朗在一件一件介绍自己带的东西的时候，xn一直打断，然后讲一大堆乱七八糟的事情，导致很简单的一个环节拖了很长时间，到最后庾澄庆忍不了了，很明显的黑脸，很严肃的对xn说“为什么你要把所有的事情都要讲的很搞笑”，xn立马怂了，连忙给庾澄庆道歉，后面就再也没插话。 【点击进入原回答】
13. 大张伟 7 票， 共计 4884 赞
by 
@啾啾
虽然大张伟一向嘴比脑子快，而且很大程度是在接梗，但是看谢娜那种吃了s的表情我就开心吖！ 【点击进入原回答】
14. 魏大勋 6 票， 共计 36836 赞
by 匿名用户 原以为接下来魏大勋会认个怂，结果魏大勋说：这件事我想来想去，我觉得我没有错。 【点击进入原回答】
15. 马天宇 5 票， 共计 1470 赞
by 
@当归
谢娜说你上学的时候追过我，马天宇直接怼我眼瞎吗！ 【点击进入原回答】
16. 王嘉尔 5 票， 共计 35010 赞
by 匿名用户 王嘉尔：坐在那里 不要起来 shut up 【点击进入原回答】
17. 罗志祥 5 票， 共计 919 赞
by 
@SheeranLee
罗志祥：鹅鹅鹅鹅鹅鹅鹅鹅（太恶心了） 【点击进入原回答】

你有没有更多的补充呢，快写出自己的回答吧～
以上内容主要由算法生成。感觉小知不够智能？那就留言给小知提出建议吧～
感觉有意思就关注小知吧，作为人工智能生命体，小知会努力不断学习进化的～',GETDATE(),1005,0,0,null,null,1)


insert into postInfo values(602,'抖音是否正在毁掉中国部分的年轻人？','
抖音有没有毁掉年轻人我不敢断言。
但抖音让年轻人不好好说话，我是见识到了。
我昨天在微博上看到了这么一条热搜。

“希望你永远不懂 谁懂”
光看这热搜名字，我表示着实没懂。
点进去之后，我直接人傻了。

原来这条热搜，讲的是一位博主，整理了一下几乎抖音上所有以“希望你永远不懂这句话”收尾的屌图集锦。

林林总总15条，所长一条一条翻了过去，脸色从困惑到凝重，最后濒临崩溃。

到底有多迷呢？我拿第一张图给大家举个例子。

这里头最值得吐槽的，当然是这段文案——
“每天卸了妆 再化妆 希望女孩子永远不懂这句话”。



按照正常的顺序，应该是“每天化了妆 再卸妆”，跟每天“吃完饭 再拉屎”一般，符合认知上的逻辑。
但将二者先后调换下顺序，等同于“先拉屎 再吃饭”，并且以“希望女孩子永远不懂这句话”收尾，气氛一下子就诡异起来了！
所长盯了半天，甘霖娘，这踏马说得是个啥？
？？！！



当我看到这条微博下面，全是骂骂咧咧的评论。
我才明白，原来我并不是一个人。

情到深处，更有直接爆粗的。

然而我是谁啊，我是所长啊，我是沙雕文化爱好者、传播者、贡献者、研究者。希望你们迷茫的时候，永远想起这句话。
在一番骂骂咧咧后，我花费一番功夫，选出其中具有代表性的十条，终于把这些梗，狠狠地懂了。

1、每天卸了妆 再化妆
说的既不是女人从不让男人看素颜，也不是约会的时候被人鸽了（卸妆），然后人家又约了之后，化身为舔狗接着化妆赴约。
其实抖音上的小学生脑回路非常简单，这句话的意思很单纯：约会完回家卸了妆，结果男朋友打来视频电话，于是又得化妆。
因为必须时刻在男友面前保持形象，所以不得不刚卸妆又化妆。
虽然所长也也不懂为什么女孩要这么做，也不明白为什么不要懂，但我认为，这确实是最合理的解释了。
按照福尔摩斯的说法，这就是唯一答案。

2、阿尔卑斯、大白兔奶糖、不二家QQ糖等甜食。

除了吃糖容易蛀牙之外，我实在想不起来，为啥女孩子不能懂这些东西？
懂这些是犯法还是咋地？？
直到一位甄嬛传十级学者告诉我：静妃娘娘曾经说过，宫里的人都爱吃甜食，吃了甜食心里就不会苦了。

所以，如果你知道这些糖果的甜，说明你的生活过得苦。
不希望你懂生活的苦。
3、一辈子只有51天

一开始，所长以为又是哪个山盟海誓，结果只短短持续了51天的狗血爱情故事。
结果这个梗的解释是：
521（我爱你）之间少了2（爱），于是就剩51天了。

？？？
所长听完直接想送给你两千万：
千万别信，千万别懂。
4、喜欢吃蛋白的人VS喜欢吃蛋黄的人

这个还真有点烧脑，但仔细一品还是有迹可循的。
蛋白=外表
蛋黄=内在
所以这张图翻译一下就是：
只喜欢你外表的人，不会愿意接受你内在的缺陷；
而喜欢你内在的人，无论你外表如何，都会接受。
...
懂了，家人们，来点黑丝。

5、A、E、B、D

一开始我还以为这些字母有特殊的含义，比如互联网巨头的简称、或者某些器官的大小起伏。
事实证明，AEBD只是“爱而不得”四个字的拼音首字母。
就这？？？
是的，就这。
SDJZ



6、左手换右手

洗澡接毛巾的时候换手，除了在手冲，我实在想不到任何其他的解释。
后来，在半夜网抑的我，看到评论区的选手们发言，才终于想到，原来：他的左手应该留有割腕后的痕迹。
换一只手，是为了不让自己的妈妈看到自己割腕伤口。
不得不说，这样解释一通，发现还挺合理的。
果然只有网抑，才能懂网抑。

7、两块钱的矿泉水，第一口值一块五。

上次见这个梗，讲的还是可乐。
当一个人在非常口渴的状态下，第一口喝满足了以后，对于剩下的水就没有那么迫切了。
所以第一口水最有价值，卖得比较贵。
这第一口水，恰似西瓜中间红彤彤的无籽肉、煲仔饭里浸了汤汁的锅巴、吃完薯片后沾满粉末的手指。
别说一块五了，我觉得第一口水本身就值两块钱。
希望你们永远不要懂。



8、先戴耳机，再插耳机孔

先戴耳机，因为怕错过ta说的每一句话；而先插耳机孔，则容易丢失掉对方说的信息。
上面这两个步骤看似一样，实则确实存在几秒钟的数据差：
插上耳机→戴上耳机之间，对方说的话会被漏听掉。
一旦你真的那么做了，说明你在感情中是卑微的一方，你在吃爱情的苦。
希望大家不要吃爱情的苦，所以不要懂。



9、手表不要戴在右手，夏天不要穿短袖...

和前面洗澡的时候用右手接一个道理，以上列举的这些尖锐物体，全部可以拿来自残。
最后再补充一个：杀猪刀是用来杀猪的，希望你们永远不要懂。
10、嘴里放卫生纸，第二天变红

这是啥聊天软件怎么没合并对话？
牙龈飙血，整点西瓜霜吧。
然而这并不是牙龈飙血。
所长去百度了一下，真正的解释是这样的：
他是可望不可及的星辰，微小如尘埃般的我，哪有勇气告白呢？
深夜窝在被子里，寂寞流泪，克制住自己不要发出声来，咬紧了舌头。
第二天醒来，枕头上的泪痕已干了大半，可是舌尖上的血却浸透了整张纸巾。
？？？
所以是？？？
？？？
一边咬舌头，一边往自己嘴里塞纸巾？？？
？？？


上面这些本不该让你看懂的，经过所长耐心的解释，想必大家也都懂了。
这篇文章我写出来时，就感到无比矛盾。
因为作为一个资深懂王，我深知懂得越多，人越难过的道理。
我不希望你懂生活的甜，因为这意味着你过得很苦。
也不希望你懂生活的苦，因为这也意味着你过得很苦。
最后这一段话，我希望你永远不要懂。
懂了吗？
',GETDATE(),1002,0,0,null,null,1)
insert into postInfo values(602,'非潮汕的女生当潮汕人的女友或者老婆是种怎么样的体验？','
谈过潮汕男朋友，去过他家一次果断分手。
我不打地图炮，只说我为什么直接果断分手。
从他嫂子身上我窥探到了继续和他在一起我会面对什么。
我去他家，大夏天的他嫂子留着汗肿着双脚怀着五个月孩子一个人在厨房炒菜，我把厨房的门打开，想让客厅冷气进去她能凉快点，他妈妈坐在客厅冲着厨房用着拗口的普通话说把厨房门关了，别让油烟进去客厅。
饭菜好了，他嫂子上桌又给三岁的女儿喂饭，一桌子人是真好意思，没一个人说帮忙喂孩子饭让孕妇先吃饭。小孩子吃饭本来就难哄，大家都快吃完了，他嫂子才开始去吃一些剩下的菜，吃完没有一个人帮忙收拾碗筷。
他爸妈吃完饭碗筷一放接着去喝茶，我本着客气说我去厨房帮她嫂子洗碗，他爸妈没有一个人阻止！！
洗完出来，客厅被孩子打翻水，他妈妈逗着孩子玩，他嫂子默默去拿拖把走地，最气人的来了，地都快拖完了，他爸爸坐着对她嫂子说，哎呀，你怀着孩子啦，别太累了，赶快来休息休息！
真是伪善，没长眼睛没看吗？真心疼人家这种事不知道干？那么大一滩水也是真看的过去。从一开始孕妇就不能在客厅看着孩子他妈妈做饭？他妈妈四肢健全做不得饭？饭桌上不能帮忙先喂孩子饭？男人就不能做家务了？地上打翻了水就不能帮忙拖一拖？

——
这个回答突然就这么多人点赞和评论(⸝⸝•‧̫•⸝⸝)',GETDATE(),1006,0,0,null,null,1)
insert into postInfo values(602,'中国人都有什么有意思的特色 Buff？','
对于美国人来说，中国人是两千年后的人类。
我认为现在地球上的人虽然外表没有明显差异，其实进化程度是不一样的，之所以大家看起来差不多，是因为人类的进化方向变了。
工业化消除了自然界对人类的威胁，使得我们不再需要更灵活有力的四肢，更高大的身体、更快的速度和更有力的拳头。
进化的方向从身体转向了心智，具体的体现就是对知识的掌握，思维方式，和社会协作程度等。
人的进化从被自然主导变为被社会主导，我把后者称为“心智进化”。
拉开人与人之间心智进化程度差距的，就是他的生活方式，而一个人所在的国家发展程度又决定了他生活方式。
我们可以对比一下中国人和美国人。
首先是人与人之间的协作能力。
中国是一个人与人之间能高度协作的社会，看这次疫情，每个人都能够完全配合好防疫工作，该戴口罩的戴口罩，该居家的居家，该验核酸的验核酸，该打针的打针，十几亿人井然有序。
这是因为中国人在心智上能把自己的行为和其他人联系在一起，所以知道约束自己。
但美国就不是这样了，很多美国人根本连口罩都不愿意戴。
这就是组织能力的差距，人类的祖先之所以能在各种动物中脱颖而出，就是因为他们能最早地以部落的形式组织起来。
但组织力的背后是什么呢？那就是抽象思维能力。
戴口罩为人为己是常识，但美国人就是很难在观念中把自己和别人的抽象关系厘清，他们只能看到那些直观的关系，例如自己和伴侣，父母，朋友，对人与人关系的认知还停留在很原始的阶段。于是他们不知道为什么自己身边的人没事为什么还要戴口罩，甚至不能理解为什么美府让戴口罩就要听。
而我们中国人，可以理解一些更抽象的关系，例如我们和我们的祖国，所以我们明白戴口罩是为了国家也为了自己。
要知道，抽象思维是人类智慧的代名词，有了抽象思维，人就能掌握哲学，社会学，自然科学等一切知识。
也因为中国人基本都有这样的能力，我们的孩子普遍比美国孩子要聪明。
例如我们的中学生在初中高中掌握的数理化知识是欧美学生在大学时候的水平，我们的高中生基本都能掌握欧美孩子在大学才作为专业去学的哲学。
很多在欧美看来不可思议的事，在我们中国都是日常。
到这里，再看看我开头那句话：
对于美国人来说，中国人是两千年后的人类。
这难道有错？
除了这些大方面，在日常饮食习惯中也可以管中窥豹。
美国人喜欢吃各种肉，中国人喜欢吃粉麵饭，这两者的差距就是游牧民族和农耕民族的差距，美国人虽然住在城市里，但他们的深层意识还停留在逐水草而居的阶段。
这也解释了我们现在为何和西方人越来越聊不到一块去，大家都不是同一个时代的人了，对于很多问题的见解当然不同，我们中国人生活在移动支付时代，西方人还在信神仙。
所以我们有时候虽然工作比较辛苦，会喃喃几句，但情绪稳定的时候想想：这不就象一群人爬山，我们快到山顶了肯定累, 美国人还在山脚，肯定开心得像郊游。
当然，中国人美国人都是地球人，应该互助互爱，我们中国人应该像班里那个常年第一的学生一样，去帮助学习不好的同学，这也是我们中国人的处事智慧。
',GETDATE(),1005,0,0,null,null,1)
insert into postInfo values(602,'你高中哪一个瞬间最可怕？','
高三有个学生自杀了。
那天我走进教室感觉闹哄哄的，也没多想啥，直到我同桌和我说楼上有个学生跳楼自杀了。
接着有人和我讲，那个学生从楼上跳下去，摔在教学楼后面的水泥地上，摔在地上还没死，身体扭成不正常的姿势，脖子下面一摊血，痛苦地抽搐着，周围围了一大圈同学看，挤都挤不进去，直到警察来了，救护车把他抬走。
之后听说事情的起因是他和同学吵架，他说：“你信不信我现在就跳楼？”同学说：“你跳啊”然后他就真的去扒窗子。
有同学意识到了事情严重性，马上去阻拦。可周围还有人起哄让他跳。
结果没拉住。
事情过去不到几个小时，同学们平常该怎么上课怎么玩和以前一样，好像这件事从来都没有发生过，从来没有一个生命在这里停留，在这里消失，关于此事大家也好像只是叹息一声便不再在意。
中午下了一场雨，雨停后我往窗外看去，楼下水泥地干干净净。
那个学生被送到省里大医院抢救了几天还是死了。他爸爸从外地回来和学校协商，拿了20万补偿走了，丝毫不见伤心，儿子躺在太平间都没去看一眼。
后来我妈从别人那听了这件事，说是这个学生的母亲在他小时候就去世了，父亲就外出打工，靠奶奶把他抚养到大。
“他死了留他奶奶怎么活啊”我记得我妈这样说，“不孝顺。”
我突然就觉得我吃不下饭了，应付几句匆匆吃完饭就下桌了。
那些天我无意中了解了关于这个学生的一些事情，比如说很早之前就有人发现他情绪有点不对劲之类之类。不知不觉我好像就认识了这个我不认识的学生，窥探到了他的痛苦和绝望。
他首先只是一个孩子啊。
一个月之后的一个傍晚，大家都坐在教室写卷子备战高考，隐隐约约我听见木鱼，鼓和念经的声音，有人说是在做法事。我记得那天很美，无边的晚霞，窗外吹来的微风，不少人都停了会儿手上的卷子。或许死亡对他来说就是一种解脱，这辈子活的太苦，如果有下辈子，希望他能平安喜乐，幸福一生。
愿晚风能吹散前尘往事，能吹散他的受过的苦。',GETDATE(),1006,0,0,null,null,1)

--创建回帖信息表
create table replyInfo
(
	replyid int primary key identity(8000,1),--回帖编号
	postid int references postInfo(postid)not null,--回复的帖子编号
	relycontent varchar(2000) not null,--回复内容
	replytime datetime ,--回复帖子的时间
	replyuname varchar(25) ,
	valid int default(1) --判断是否有效
)

--update userIinfo set valid=0 where id=1002
--update boardInfo set valid=1 where boardid=604
--update postInfo set valid=0 where postid=1005

use bbsdb
go


select * from userIinfo 
select * from boardInfo 
select * from postInfo 
select * from replyInfo 